[rpi_clock]

# Your location subset of the URL goes here.
# The following is appropriate for North Dallas TX 75248 USA and Farenheit:
#LOCATION = q=London
#LOCATION = zip=11361,us
LOCATION = zip=75248,us

# Temperature units: metric (Celsius), imperial (Farenheit), or Kelvin
#TEMP_UNITS = metric
TEMP_UNITS = imperial

# Your OpenWeatherMap API key goes here:
OWM_API_KEY = YOUR_KEY_GOES_HERE

# Date format is USA here:
FORMAT_DATE = %%b %%d, %%Y
# (Yes, you need to double '%' to get one '%'.)

# Hours:Minutes + AM/PM for the USA if applicable
FORMAT_TIME = %%I:%%M %%p %%Z
# (Yes, you need to double '%' to get one '%'.)

# False ==> full screen (normal for TFT)
# True ==> PC or laptop display
FLAG_WINDOWED = False

# =================================================== #
# Not recommended to change the remaining parameters.
# =================================================== #

# Fetch weather after this many main loop executions
COUNT_START = 20

# Verbose tracing
FLAG_TRACING = False

# Timeout in seconds if URL server does not respond in time
REQUEST_TIMEOUT_SEC = 60

# The amount of time between URL contact attempts in milliseconds
SLEEP_TIME_MSEC = 60000
